<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhn.webopenapicore.mapper.InterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.zhn.webopenapicommon.model.domain.InterfaceInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="host" column="host" jdbcType="VARCHAR"/>
            <result property="uri" column="uri" jdbcType="VARCHAR"/>
            <result property="applyNum" column="apply_num" jdbcType="INTEGER"/>
            <result property="requestParams" column="request_params" jdbcType="VARCHAR"/>
            <result property="requestParamsRemark" column="request_params_remark" jdbcType="VARCHAR"/>
            <result property="responseParamsRemark" column="response_params_remark" jdbcType="VARCHAR"/>
            <result property="requestHeader" column="request_header" jdbcType="VARCHAR"/>
            <result property="responseHeader" column="response_header" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description,
        method,host,uri,apply_num,request_params,request_params_remark
        response_params_remark,request_header,
        response_header,status,user_id,
        create_by,create_time,update_by,
        update_time,is_delete
    </sql>

    <select id="getStatisticRankList" resultType="com.zhn.webopenapicore.model.vo.api.InterfaceRankVo">
        select uii.interface_info_id as id,
               ii.`name`,
               SUM(uii.total_num) as num
        from user_interface_info uii
                 join interface_info ii on uii.interface_info_id = ii.id
        where ii.`status` = 1 and ii.is_delete = 0
        GROUP BY uii.interface_info_id
        ORDER BY num desc;
    </select>

    <select id="getMeVoList" resultType="com.zhn.webopenapicore.model.vo.api.InterfaceMeVo">
        select ii.id,ii.`name`,ii.description,ii.method,
               ii.uri,uii.surplus_num,ii.`status`,
               uii.create_time
        from user_interface_info uii
                 join interface_info ii on uii.interface_info_id = ii.id
        where uii.user_id = #{userId} and ii.`status` = 1
            and ii.is_delete = 0 and uii.`status` = 0 and ii.name LIKE CONCAT('%', #{search}, '%')
        ORDER BY uii.create_time desc;
    </select>
</mapper>
