<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhn.webopenapicore.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.zhn.webopenapicommon.model.domain.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userAccount" column="user_account" jdbcType="VARCHAR"/>
            <result property="userPassword" column="user_password" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="userAvatar" column="user_avatar" jdbcType="VARCHAR"/>
            <result property="userProfile" column="user_profile" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="qq" column="qq" jdbcType="VARCHAR"/>
            <result property="userRole" column="user_role" jdbcType="VARCHAR"/>
            <result property="accessKey" column="access_key" jdbcType="VARCHAR"/>
            <result property="secretKey" column="secret_key" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_account,user_password,
        user_name,user_avatar,user_profile,
        email,qq,user_role,
        access_key,secret_key,
        create_time,update_time,is_delete
    </sql>
</mapper>
